.animal_picture_container {
	float: left;
	clear: left;
	width: 30%;
	height: 40%;
	margin-top: 10px;
}

.animal_picture 
{
	max-width: 100%;
	max-height: 100%;
	/*display: block;*/
	/*clear: left;*/
	/*float: left;*/
	/*width: 100%;
	height: 100%;*/
}

#animal_info_text_container {
	margin-top: 10px;
	float: left;
	clear: left;
	width: 49%;
}

.overlay {
	position: relative;
	width: 30%;
	height: 50%;
	background-color: #000000;
	opacity: 0.1;
	transition: 0.5s ease;
}

.overlay:hover {
	opacity: 0.5;
}

.overlay_left_button {
	display: inline-block;
	position: relative;
	top: -200%;
	padding: 5px 20px;
	font-size: 50px;
	background-color: white;
}

.overlay_right_button {
	display: inline-block;
	position: relative;
	top: -275%;
	padding: 5px 20px;
	left: 268%;
	font-size: 50px;
	background-color: white;
	text-align: center;
}

.service_container {
	float: left;
	clear: left;
}

.service_table {
	border: solid 3px #CCCCCC;
	border-radius: 5px;;
	float: left;
}

.service_table_data {
	padding: 0px 8px;
}