#animal_info_container {
	float: left;
	clear: left;
}

#animal_picture {
	display: block;
	clear: left;
	width: 30%;
	height: 70%;
	float: left;
}

#animal_info_text_container {
	margin-left: 10px;
	float: left;
	width: 40%;
	vertical-align: middle;
}

.overlay {
	position: relative;
	width: 30%;
	height: 70%;
	background-color: #000000;
	opacity: 0;
	transition: 0.5s ease;
}

.overlay:hover {
	opacity: 0.5;
}

.overlay_left_button {
	display: inline-block;
	position: relative;
	top: -52%;
	z-index: 1;
	padding: 15px 32px;
	font-size: 50px;
	background-color: white;
	color: white;
	border: none;	
}

.overlay_right_button {
	display: inline-block;
	position: relative;
	top: -52%;
	left: 68%;
	z-index: 1;
	padding: 15px 32px;
	font-size: 50px;
	background-color: white;
	text-align: center;
	color: white;
	border: none;
}