#animal_info_container {
	float: left;
	clear: left;
}

#animal_picture {
	width: 100%;
	height: 90%;
	float: left;
	clear: both;
}

#animal_picture_container {
	float: left;
	width: 30%;
	height: 70%;
	border: solid gainsboro 3px;
}

#animal_info_text_container {
	margin-left: 5px;
	float: left;
	width: 40%;
	vertical-align: middle;
}