select {
	width: 180px;
}

form {
	padding: 10px;	
	margin-top: 10px;
}

form div {
	margin-top: 10px;
}

.product {
	width: 18%;
	height: 35%;
	float: left;
	border-radius: 3px;	
}

.product_img {
	width: 100%;
	height: 90%;
}

/*#register_address_neighborhood_container {
	clear: left;
	float: left;
}

#register_address_street_container {
	float: left;
	margin-left: 10px;
}*/

#register_submit_container {
	float: left;
	clear: left;
}

.listed_animal_container {
	border-bottom: solid gainsboro 2px;
}

.form_row_container {
	height: 10%;
	width: 100%;
}

.label_container {
	float: left;
	clear: left;
	width: 6%;
}

.field_container {
	float: left;
}