fieldset {
	padding: 5px;
	border: solid 3px #CCCCCC;
	border-radius: 5px;
}

form div {
	margin-top: 5px;
}

#introductory_text {
	margin-bottom: 20px;
}

.label_container {
	float: left;
	clear: left;
	width: 5%;
}

.field_container {
	float: left;
}

.form_row_container {
	float: left;
	clear: left;
	width: 100%;
}