* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	font-family: verdana, sans-serif;
	background-color: white;
}

header, footer {
	float: left;
	clear: left;
	width: 100%;
}

footer {
	height: 10%;
	color: white;
	background-color: purple;
	text-align: center;
}

header {
	height: 20%;
	background-color: purple;
	color: white;
}

header * {
	background-color: inherit;
}

body {
	height: 640px;
	width: 100%;
}

#logout{
	text-decoration: none;
	color: white;
	font-style: italic;

}
.content {
	height: 100%;
	width: 90%;
	margin-left: 10%;
	float: left;
	background-color: white;
	overflow: hidden;
}

.work_section {
	margin: 10px;
	padding: 10px;
	width: 97%;
	height: 59%;
	background-color: white;
	color: black;
}

#introductory_text {
	margin-bottom: 20px;
}

#user_login_box {
	color: white;
	float: right;
	height: 100%
	width: 20%;
}