.side_menu {
	float: left;
	clear: left;
	width: 10%;
	height: 100%;
	background-color: white;
	overflow: hidden;
}

.side_menu_item {
	float: left;
	clear: left;
	padding: 10px;
	background-color: white;
	color: black;
	width: 85%;
	border: solid gainsboro 2px;
	border-radius: 3px;
	transition: 0.5s ease;
}

.side_menu_item:hover {
	background-color: purple;
	color: white;
}

.horizontal_menu {
	overflow: hidden;
	background-color: white;
	color: black;
	width: 100%;	
	display: table;
	border-bottom: solid gainsboro 3px;
}

.horizontal_menu_item {
	text-align: center;
	padding: 10px;
	background-color: white;
	width: auto;
	transition: 0.5s ease;
	display: table-cell;	
}

.horizontal_menu_item:hover {
	cursor: pointer;
	background-color: purple;
	color: white;
}