    /*
    Flaticon icon font: Flaticon
    Creation date: 26/03/2018 08:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-doctor:before { content: "\f100"; }
.flaticon-002-medicine:before { content: "\f101"; }
.flaticon-003-pet-food-1:before { content: "\f102"; }
.flaticon-004-certificate:before { content: "\f103"; }
.flaticon-005-elizabethan-collar:before { content: "\f104"; }
.flaticon-006-leash:before { content: "\f105"; }
.flaticon-007-bunny:before { content: "\f106"; }
.flaticon-008-monitor:before { content: "\f107"; }
.flaticon-009-scale:before { content: "\f108"; }
.flaticon-010-trophy:before { content: "\f109"; }
.flaticon-011-fish:before { content: "\f10a"; }
.flaticon-012-pillow:before { content: "\f10b"; }
.flaticon-013-test-tube:before { content: "\f10c"; }
.flaticon-014-smartphone-1:before { content: "\f10d"; }
.flaticon-015-bottle:before { content: "\f10e"; }
.flaticon-016-dog-food:before { content: "\f10f"; }
.flaticon-017-healthcare:before { content: "\f110"; }
.flaticon-018-microscope:before { content: "\f111"; }
.flaticon-019-thermometer:before { content: "\f112"; }
.flaticon-020-smartphone:before { content: "\f113"; }
.flaticon-021-intravenous:before { content: "\f114"; }
.flaticon-022-briefcase:before { content: "\f115"; }
.flaticon-023-eyedropper:before { content: "\f116"; }
.flaticon-024-badge:before { content: "\f117"; }
.flaticon-025-poop:before { content: "\f118"; }
.flaticon-026-hamster-1:before { content: "\f119"; }
.flaticon-027-clinic:before { content: "\f11a"; }
.flaticon-028-cat-1:before { content: "\f11b"; }
.flaticon-029-cat:before { content: "\f11c"; }
.flaticon-030-bandage:before { content: "\f11d"; }
.flaticon-031-bird:before { content: "\f11e"; }
.flaticon-032-antiseptic:before { content: "\f11f"; }
.flaticon-033-spray:before { content: "\f120"; }
.flaticon-034-medical-report:before { content: "\f121"; }
.flaticon-035-bird-house:before { content: "\f122"; }
.flaticon-036-nurse:before { content: "\f123"; }
.flaticon-037-dog-1:before { content: "\f124"; }
.flaticon-038-hamster:before { content: "\f125"; }
.flaticon-039-dog:before { content: "\f126"; }
.flaticon-040-heart:before { content: "\f127"; }
.flaticon-041-scissors:before { content: "\f128"; }
.flaticon-042-bone:before { content: "\f129"; }
.flaticon-043-stethoscope:before { content: "\f12a"; }
.flaticon-044-brush:before { content: "\f12b"; }
.flaticon-045-pet-food:before { content: "\f12c"; }
.flaticon-046-pills:before { content: "\f12d"; }
.flaticon-047-carrier:before { content: "\f12e"; }
.flaticon-048-injection:before { content: "\f12f"; }
.flaticon-049-dog-house:before { content: "\f130"; }
.flaticon-050-veterinary:before { content: "\f131"; }
    
    $font-Flaticon-001-doctor: "\f100";
    $font-Flaticon-002-medicine: "\f101";
    $font-Flaticon-003-pet-food-1: "\f102";
    $font-Flaticon-004-certificate: "\f103";
    $font-Flaticon-005-elizabethan-collar: "\f104";
    $font-Flaticon-006-leash: "\f105";
    $font-Flaticon-007-bunny: "\f106";
    $font-Flaticon-008-monitor: "\f107";
    $font-Flaticon-009-scale: "\f108";
    $font-Flaticon-010-trophy: "\f109";
    $font-Flaticon-011-fish: "\f10a";
    $font-Flaticon-012-pillow: "\f10b";
    $font-Flaticon-013-test-tube: "\f10c";
    $font-Flaticon-014-smartphone-1: "\f10d";
    $font-Flaticon-015-bottle: "\f10e";
    $font-Flaticon-016-dog-food: "\f10f";
    $font-Flaticon-017-healthcare: "\f110";
    $font-Flaticon-018-microscope: "\f111";
    $font-Flaticon-019-thermometer: "\f112";
    $font-Flaticon-020-smartphone: "\f113";
    $font-Flaticon-021-intravenous: "\f114";
    $font-Flaticon-022-briefcase: "\f115";
    $font-Flaticon-023-eyedropper: "\f116";
    $font-Flaticon-024-badge: "\f117";
    $font-Flaticon-025-poop: "\f118";
    $font-Flaticon-026-hamster-1: "\f119";
    $font-Flaticon-027-clinic: "\f11a";
    $font-Flaticon-028-cat-1: "\f11b";
    $font-Flaticon-029-cat: "\f11c";
    $font-Flaticon-030-bandage: "\f11d";
    $font-Flaticon-031-bird: "\f11e";
    $font-Flaticon-032-antiseptic: "\f11f";
    $font-Flaticon-033-spray: "\f120";
    $font-Flaticon-034-medical-report: "\f121";
    $font-Flaticon-035-bird-house: "\f122";
    $font-Flaticon-036-nurse: "\f123";
    $font-Flaticon-037-dog-1: "\f124";
    $font-Flaticon-038-hamster: "\f125";
    $font-Flaticon-039-dog: "\f126";
    $font-Flaticon-040-heart: "\f127";
    $font-Flaticon-041-scissors: "\f128";
    $font-Flaticon-042-bone: "\f129";
    $font-Flaticon-043-stethoscope: "\f12a";
    $font-Flaticon-044-brush: "\f12b";
    $font-Flaticon-045-pet-food: "\f12c";
    $font-Flaticon-046-pills: "\f12d";
    $font-Flaticon-047-carrier: "\f12e";
    $font-Flaticon-048-injection: "\f12f";
    $font-Flaticon-049-dog-house: "\f130";
    $font-Flaticon-050-veterinary: "\f131";